<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: black;
            color: #fff;
            text-align: center;
        }
        .footer a {
            color: #4CAF50; /* Adding a green color for the link */
            text-decoration: none;
        }
        .footer a:hover {
            text-decoration: underline; /* Add underline effect on hover */
        }
    </style>
</head>
<body>
    
<div class="footer">
    <p>Design and developed by <a href="https://github.com/mediwateyash" target="_blank">Yash Diwate</a></p>
    <p>Copyright &copy; Notes Cloud by DY</p>
</div>

</body>
</html>
